body {
    margin: 0;
    padding: 0;
    border:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    height:100vh;
    width:100vw;
}

.menu {
    width:20rem;
    height:15rem;
}

.buttons {
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
}

.mainTitle{
    text-align:center;
    font-size:400%;
}

.menu-btn {
    font-size:140%;
    text-align:center;
    color:white;
    background-color:brown;

}
.hidden {
    display:none;
}

.boardCont{
    width:25%;
    margin-top:3rem;
    height:45%;
    background-color:black;
}

.board {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1%;
    width:100%;
    height:100%;
    text-align:center;
}

.box {
    height:100%;
    background-color: white;
}

.winner-msg {
    text-align:center;
}