body {
    margin: 0;
    padding: 0;
    border:0;
    display:flex;
    border-style:solid;
    justify-content:center;
    height:100vh;
    width:100vw;
}

.main {
    width:20rem;
    height:10rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    height:100%;
}

.buttons {

    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
}

.mainTitle{
    text-align:center;
    font-size:400%;
}

.menu-btn {
    font-size:140%;
    text-align:center;
    color:white;
    background-color:brown;

}
.hidden {
    display:none;
}

.board {
    display:grid;
    align-items:center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align:center;
    height:20rem;
    width:100%;
    margin-top:2rem;
}

.box {
    border-style:solid;
    width:100%;
    height:100%;

}
.boardCont{
    width:100%;
    height:20rem;
}
.boxx {
    width:100%;
    height:20rem;
    border-style:solid;
    margin-top:2rem;
}